<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Mirza|Montserrat|Oswald|Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>
      PNG16
    </title>
  </head>
  <body>
    <h1>
      PNG16 <hr>
    </h1>
    <form method="post">
      <div class="centered">
	<br><br>EU SOU:<br><br>
	<label for="senha"></label>
	<button class="maior" type="submit" name="aluno">Aluno</button><br><br>
	<button type="submit" name="professor">Professor</button>
      </div>
    </form>
  </body>

</html>
