<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Mirza|Montserrat|Oswald|Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
  </head>
  <body><br>
    <div class="questao"> {{ questao }} </div>
    <div class="centered" style="width:90%"><br><br><br>
      <ul>
      {% for resposta in  respostas %}
	<li>{{ resposta }}</li><br>
      {% endfor %}
      </ul>
      <form method="POST">
	<button type="submit" /> 
      </form>
    </div>
  </body>
</html>
